<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="callCycleError">
      <register type="Police.Service.DataContract.PoliceServiceFaultException,Police.Service.DataContract">
        <lifetime type="singleton"/>
        <property name="Code" value="405"></property>
        <property name="Details" value="当前调用在处于调用周期内拒绝访问"></property>
      </register>
    </container>

    <container name="sourceIdError">
      <register type="Police.Service.DataContract.PoliceServiceFaultException,Police.Service.DataContract">
        <lifetime type="singleton"/>
        <property name="Code" value="407"></property>
        <property name="Details" value="拒绝访问,因为当前访问SourceId不受信任"></property>
      </register>
    </container>
    
    <container name="dbException">
      <register type="Police.Service.DataContract.PoliceServiceFaultException,Police.Service.DataContract">
        <lifetime type="singleton"/>
        <property name="Code" value="从数据库获取数据异常"></property>
        <property name="Details" value="服务获取数据失败，数据库连接或者数据转化过程会导致此异常"></property>
      </register>
    </container>

    <container name="dbConfig">
      <register type="Police.Service.Repository.DbConfig,Police.Service.Repository">
        <property name="BatchSize" value="100"></property>
        <property name="DbConnection" value="Data Source=.;Initial Catalog=ISS;User ID=sa;Password=sa;"></property>
        <property name="FactoryName" value="PoliceServiceDb"></property>
      </register>
    </container>

    <container name="clientTicketOutException">
      <register type="Police.Service.DataContract.PoliceServiceFaultException,Police.Service.DataContract">
        <lifetime type="singleton"/>
        <property name="Code" value="401.1"></property>        
        <property name="Details" value="未登录或者凭证已经过期，请重新登陆获取凭证后再访问"></property>
      </register>
    </container>

    <container name="parasException">
      <register type="VrvDataContracts.ReadDatasException,VrvDataContracts">
        <lifetime type="singleton"/>
        <property name="Code" value="500"></property>
        <property name="Details" value="调用时间参数错误,不符合接口规范。"></property>
      </register>
    </container>

    <container>
      <register type="Police.Service.IRepository.IUserRepository,Police.Service.IRepository" mapTo="Police.Service.Repository.UserRepository,Police.Service.Repository">
      </register>
      <register type="Police.Service.IRepository.IDeviceRepository,Police.Service.IRepository" mapTo="Police.Service.Repository.DeviceRepository,Police.Service.Repository"></register>
      <register type="Police.Service.IRepository.IMapClassRepository,Police.Service.IRepository" mapTo="Police.Service.Repository.MapClassRepository,Police.Service.Repository"></register>
      <!--<register type="Police.Service.IRepository.IUserRepository,Police.Service.IRepository" mapTo="Police.Service.RepositoryTest.UserRepository,Police.Service.RepositoryTest"></register>
      <register type="Police.Service.IRepository.IDeviceRepository,Police.Service.IRepository" mapTo="Police.Service.RepositoryTest.DeviceRepository,Police.Service.RepositoryTest"></register>-->
    </container>
  </unity>
</configuration>
